<table class="table table-striped">
  <th><h4>Manufacturer</h4></th>
  <th><h4>Country</h4></th>
  <% @manufacturers.each do |manufacturer| %>
    <tr>
      <td>
        <%= link_to manufacturer.name, manufacturer_path(manufacturer) %>
      </td>
      <td><%= manufacturer.country %></td>
    </tr>
  <% end %>
</table>
